<!DOCTYPE html>
<html ng-app="motivaBici">
    <head>
        <meta charset="utf-8">
        <title>MotivaBici</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../assets/imgs/bici.png" type="image/png">
        <link rel="stylesheet" href="../assets/css/bootstrap.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="../assets/css/style.css" media="screen" charset="utf-8">
    </head>
    <body ng-controller = "MainCtrl as ctrl">
        <!--NavBar-->
        <nav class="navbar navbar-color navbar-shadow">
            <div class="container-fluid">
                <div class="header-navbar">
                    <img src="../assets/imgs/bici.png" alt="MotivaBici">
                    <a href="#">MotivaBici</a>
                </div>
                <ul class="navbar-list">
                    <li>
                        <p>Usuario: {{ctrl.user.email}}</p>
                    </li>
                    <li>
                        <img src="../assets/imgs/user.png" alt="Usuario">
                    </li>
                </ul>
                <ul class="navbar-list navbar-list-right">
                    <li>
                        <a href="#" onclick="logout()">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Body-->
        <div class="container" id="routes">
            <h2 class="title">Mis recorridos: </h2>
            <div class="col-md-3" style="padding-left: 0">
                <a href="" ng-repeat="route in ctrl.routes" ng-click="ctrl.showRoute($index, route)">
                    <div class="route-item" ng-class="{route_item_active: $index == ctrl.selected}">
                        {{route.dateRoute | date}}
                    </div>
                </a>
            </div>
            <div class="col-md-9"  id="show-details" ng-show="ctrl.showDiv">
                <div class="col-md-6 col-xs-12">
                    <ul class="list-items">
                        <li><b>Calorías: </b> {{ctrl.route.calories}} cal</li>
                        <li><b>Duración: </b> {{ctrl.route.duration.value / 60}} min</li>
                        <li><b>Kilómetros: </b> {{ctrl.route.kms.value / 1000}} kms</li>
                        <li><b>Max altitud: </b> {{ctrl.route.maxAltitude}} m.s.n.m</li>
                        <li><b>Min altitud: </b> {{ctrl.route.minAltitude}}</li>
                        <li><b>Metros ascenso: </b> <i style="color: red;">PENDIENTE!</i></li>
                        <li><b>Metros descenso: </b><i style="color: red;">PENDIENTE!</i></li>
                        <li><b>Velocidad promedio: </b>{{ctrl.route.averageVel * 0.06}} km/h</li>
                    </ul>
                    <canvas id="chart_topography"></canvas>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>

        <!--Scripts-->

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_lsAU18hATgdbY6QwQ9rXHfU5rnhia_k"></script>
        <script src="../assets/js/angular.min.js" charset="utf-8"></script>
        <script src="../assets/js/Chart.js" charset="utf-8"></script>
        <script src="app.js" charset="utf-8"></script>
        <script>
            function logout(){
                window.location = "/";
            }
        </script>
    </body>
</html>
